{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <div class="mb-3">
                <h1 class="">Nowy Temat</h1>
            </div>

            <div class="w-100">
                {{ form_start(question) }}
                <div class="d-flex justify-content-center row-cols-2">
                    {{ form_row(question.name) }}
                </div>

                <div>
                    {{ form_row(question.question) }}
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                        Wyślij
                    </button>
                </div>
                {{ form_end(question) }}
            </div>

        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

