{% extends 'base.html.twig' %}

{% block title %}Audi  - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="mt-2 ms-5 fs-4">
            <a
                href="{{ path('app_questions', {slug: 'slug', name: 'name'}) }}"
                class="btn btn-danger mb-3"
            >
                <i class="fas fa-pencil-alt fa-xs"></i> <u class="text-decoration-none fw-bold">Dodaj wątek</u>
            </a>
        </div>

        <div class="mb-5 me-5 ms-5 justify-content-center border border-4 border-dark">

            <div class="bg-dark bg-gradient text-light text-center">
                <p class="fs-6 m-auto p-1">Wszystko związane z </p>
            </div>

            {% for question in questions %}
                <div class="bg-dark bg-gradient bg-opacity-75">
                    <a href="#" class="link-warning fs-3 text-decoration-none ms-2">{{ question.name }}</a>
                    <p class="small text-break text-muted ms-2">( Przedstaw się i zaprezentuj swoje auto )</p>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
